body {
  margin: 0%;
  padding: 0%;
  font-family: 'Fira code', sans-serif;
}

header {
  background-color: #0b2b5d;
  box-shadow: 0px 10px 0px #000000;
}

nav {
  background-color: #0b2b5d;
  height: 80px;
  text-align: right;
}
.logo {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 20px;
  top: 10px;
}

.links {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  text-decoration: none;
  margin: 20px;
}

.links::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #532574;
  box-shadow: 1px 2px 0px #000000;

  margin-right: 10px;
}

.button {
  display: inline-block;
  background: #532574;
  height: 50px;
  width: 150px;
  line-height: 50px;
  padding-inline: 20px;
  margin-right: 30px;
  box-shadow: 5px 5px 0px #000;
  text-align: center;
  transition: transform 350ms cubic-bezier(0.6, -0.32, 0, 4.17);
}

.button:hover {
  transform: scale(1.08);
}

/*Final do header*/

/* Inicio da section banner*/

/* banner */
.banner {
  box-sizing: border-box;
  background-image: url(/assets/Img/-1_orig.jpg);
  height: 800px;
  background-size: 100%;
  margin: 10px 0 0 0;
  border-bottom: 10px solid black;
  padding-top: 116px;
  padding-left: 91px;
}

.banner .wrapper-banner {
  display: flex;
  flex-direction: column;
  width: 680px;
}

.banner .box-banner {
  margin-bottom: 40px;
}

.banner .buttons-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*  box,title e subtitle */

.box-banner {
  display: inline-block;
  background-color: #572e43;
  box-shadow: 5px 10px 0px #000;
  opacity: 1.9;
  text-align: center;
  padding: 44px 45px;
}

.tittle-banner {
  position: relative;
  color: #81cee9;
  text-shadow: 4px 2px 2px #000000;

  font-family: 'Press Start 2P', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 28px;
}

.subtittle-banner {
  position: relative;

  color: #5f889b;
  text-shadow: 4px 2px 2px #000000;

  font-family: 'Press Start 2P', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  text-transform: uppercase;
  letter-spacing: 2px;
}

/* buttons banner*/

.button-b {
  background: #532574;
  color: white;
  font-size: 18px;
  height: 50px;
  width: 170px;
  line-height: 26.24px;

  box-shadow: 5px 5px 0px #000;

  transition: transform 350ms cubic-bezier(0.6, -0.32, 0, 4.17);
}

.button-b:hover {
  transform: scale(1.08);
}

/* Fim do  banner e seus componentes*/

/*inicio da section skills*/

.skills {
  background-color: #532574;
  padding-top: 10px;
  height: 500px;
  border-bottom: 10px solid #81cee9;
  text-align: center;
}

.wrapper-skills {
  text-align: center;
}

.tittle-skills {
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  text-shadow: 5px 5px 2px black;
}

.skills-list1 {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: 49%;
}
.skills-list2 {
  display: inline-flex;
  width: 48%;
  justify-content: start;
  flex-direction: column;
}

.skills-link {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: white;
}
