body {
  margin: 0%;
  padding: 0%;
  font-family: var(--font-primary);
}

header {
  background-color: var(--Color-secundary);
  box-shadow: 0px 10px 0px #000000;
  display: flex;
  width: 100%;
  justify-content: end;
}

nav {
  background-color: var(--Color-secundary);
  height: 85px;
}

.logo {
  position: absolute;
  left: 10px;
  width: 60px;
  height: 60px;
  top: 10px;
  max-width: 60px;
}

.links {
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  font-size: 2rem;
  font-family: var(--font-primary);
  font-weight: 400;
  text-decoration: none;
  margin: 20px;
}
.links:hover {
  border-bottom: 3px solid var(--Color-primary);
}
.menu-links:focus {
  color: var(--Color-primary);
}

.links::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--Color-primary);
  box-shadow: 1px 2px 0px #000000;

  margin-right: 10px;
}

header nav .button {
  display: inline-block;
  background: var(--Color-primary);
  padding-inline: 20px;
  margin-right: 30px;
  box-shadow: 5px 5px 0px #000;
  text-align: center;
  transition: transform 350ms cubic-bezier(0.6, -0.32, 0, 4.17);
  height: 50px;
  width: 150px;
  line-height: 50px;
}

.button:hover {
  transform: scale(1.08);
}
