#section-banner {
  box-sizing: border-box;
  background-image: url(/assets/Img/banner/-1_orig.jpg);
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0 0 0;
  border-bottom: 10px solid black;
  padding-top: 116px;
  padding-left: 91px;
}

#section-banner .wrapper-banner {
  position: absolute;
  display: flex;
  flex-direction: column;
}

#section-banner .box-banner {
  margin-bottom: 40px;
}

#section-banner .buttons-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*  box,title e subtitle */

.box-banner {
  display: inline-block;
  background-color: var(--Color-primary);
  box-shadow: 5px 10px 0px #000;
  opacity: 1.9;
  text-align: center;
  padding: 44px 45px;
}

.title-banner {
  position: relative;
  color: var(--text-color);
  text-shadow: 4px 2px 2px #000000;

  font-family: var(--font-secundary);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 28px;
}

.subtitle-banner {
  position: relative;

  color: var(--Color-secundary);
  text-shadow: 4px 2px 2px black;

  font-family: var(--font-secundary);
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;

  text-transform: uppercase;
  letter-spacing: 2px;
}

/* buttons banner*/

.button-b {
  background: var(--Color-primary);
  color: var(--text-color);
  font-size: 1.8rem;
  height: 50px;

  cursor: pointer;

  box-shadow: 5px 5px 0px #000;

  transition: transform 350ms cubic-bezier(0.6, -0.32, 0, 4.17);
}

.button-b:hover {
  transform: scale(1.08);
}
