.section-skills {
  background-color: #532574;
  padding-top: 30px;
  padding-bottom: 100px;
  height: 530px;
  background-size: 100%;
  text-align: center;
  align-items: center;

  border-bottom: 10px solid #81cee9;
}

.title-skills {
  display: inline-block;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-shadow: 5px 5px 2px black;
  text-align: center;
  padding-bottom: 50px;
}

.wrapper-skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.wrapper-skills .skills {
  width: 430px;
  margin-bottom: 40px;
}

.wrapper-skills .skills:nth-child(odd) {
  margin-right: 60px;
}

.skills {
  display: flex;
}

.skills .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills .icon {
  margin-right: 25px;
  width: 80px;
}

.skills .title {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: white;
  display: inline-flex;
  margin-bottom: 10px;
}

.progress-bar {
  box-sizing: border-box;

  border: 5px solid #000;
  width: 320px;
  height: 40px;
  display: flex;
}
::-webkit-progress-value {
  background-color: #a82510;
}
.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
  background-color: #fff;
}
