#section-contatos {
  background-color: rgb(37, 36, 36);
  padding-top: 30px;
  padding-bottom: 100px;
  max-width: 1440px;
  height: 790px;
  background-size: 100%;
  text-align: center;

  border-bottom: 10px solid black;
}

.title-contatos {
  font-family: var(--font-secundary);
  color: var(--text-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 50px;
  text-align: center;
}

.input-contatos {
  margin-left: 60px;
  margin-right: 60px;
  display: inline-block;
  text-align: left;
}

.label-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  color: var(--text-color);
}

.input-name {
  width: 1200px;
  height: 40px;
  margin-bottom: 40px;
  border: 3px solid black;
  box-shadow: 4px 4px 0 black;
  font-size: 20px;
  box-sizing: border-box;
}

.input-mensagem {
  width: 1200px;
  height: 320px;
  margin-bottom: 40px;
  border: 3px solid black;
  box-shadow: 4px 4px 0 black;
  font-size: 20px;
  text-align: start;
}

.input-button {
  font-family: var(--font-secundary);
  width: 1210px;
  height: 50px;
  margin-bottom: 40px;
  border: 3px solid black;
  box-shadow: 4px 4px 0 black;
  background-color: var(--Color-primary);
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
  transition: transform 350ms cubic-bezier(0.6, -0.32, 0, 4.17);
}

.input-button:hover {
  transform: scale(1.01);
}
